@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;700&display=swap');

$black: #1E1E1E;
$black-med: #272727;
$text-gray: #4D4D4D;
$white: #FFFFFF;
$purple-dark: #A637A3;
$purple-light:#C636C2;
$yellow: #FFFF00;
$light-grey: #DCDCDC;
$gray: #BEBEBE;

$sans-serif: 'Raleway',
sans-serif;
$light: 200;
$normal: 400;
$semibold: 500;
$bold: 700;

$line-height-header: 56px;
$line-height-regular: 26px;
$line-height-small: 22px;

$font-small: 14px;

body {
  font-family: $sans-serif;
  font-weight: $normal;
  color: $text-gray;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bold {
  font-weight: $bold;
}

h2 {
  font-weight: $normal;
  font-size: 72px;
  color: $black;
  margin-bottom: 20px;
}

p {
  line-height: $line-height-regular;
}

.main-col,
.section-separator {
  max-width: 1280px;
  margin: 0 auto;
}

.hidden {
  opacity: 0;
}

@mixin transition($prop: all, $type: ease-in) {
  transition: $prop .3s $type;
}

/* BUTTONs & LINKS */

.btn-text {
  display: inline;
  border-radius: 20px;
  padding: 12px 18px;
  text-decoration: none;
  color: $white;
  font-weight: $bold;
  font-size: $font-small;
  letter-spacing: 0.05em;
}

.btn-no-bg {
  background-color: transparent;
  color: $purple-dark;
  @include transition;

  &:hover {
    color: $white;
    background-color: $purple-dark;
  }
}

.btn-plus {
  &::before {
    content: "";
    display: inline-block;
    mask: url(assets/icons/plus.svg) center center no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: relative;
    background-color: $purple-dark;
    top: 2px;
    @include transition
  }

  &:hover::before {
    background-color: $white;
  }
}

.btn-bg-pink {
  background-color: $purple-dark;

  &::before {
    background-color: $white;
  }
}


.header-container {
  height: 849px;
  background: linear-gradient(180deg, rgba($black, 0.56) 0%, rgba($black, 0) 30.62%), linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(assets/images/hero-1.png) center / cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

  .header-nav {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    position: relative;

    .nav-items {
      display: flex;
      list-style-type: none;

      li {
        padding: 10px 15px;
        background-color: $white;
        margin-right: 5px;
        border-radius: 20px;
        white-space: nowrap;
        @include transition(null, ease-in-out);

        &:hover {
          background-color: $purple-dark;
          cursor: pointer;

          a {
            color: $white;
          }
        }

        >a {
          color: $black;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: $semibold;
        }
      }

      #selected-lang {
        margin-right: 0;
        background-color: $black-med;
        list-style-type: none;
        color: $white;

        &::after {
          vertical-align: middle;
          content: url(assets/icons/down.svg);
          margin-left: 5px;
          display: inline-block;
          margin-top: -5px;
        }
      }

      #selected-lang-menu {
        position: absolute;
        right: 0;
        top: 80px;
        background-color: $white;
        border-radius: 20px;
        overflow: hidden;
        @include transition(opacity, ease-in-out);

        >li {
          list-style-type: none;
          border-radius: 0;
          width: 100%;

          &:hover {
            color: white
          }
        }
      }
    }
  }
}

.products {
  background-color: $black;
  display: flex;
  margin-top: -297px;
  position: relative;
  z-index: 1;

  .product {
    position: relative;
    padding: 80px;
    color: $white;
    flex: 1;

    .product-graphic {
      height: 150px;
      margin-bottom: 40px;
      @include transition(background, ease-in-out);
    }

    &:first-of-type {
      border-right: 2px solid $black-med;

      .product-graphic {
        background: url(assets/images/isolated-pipes.svg) no-repeat;
      }

      &:hover .product-graphic {
        background: url(assets/images/isolated-pipes-hover.svg) no-repeat;
      }
    }

    &:last-of-type {
      .product-graphic {
        background: url(assets/images/plastic-pipes.svg) no-repeat;
      }

      &:hover .product-graphic {
        background: url(assets/images/plastic-pipes-hover.svg) no-repeat;
      }
    }

    .product-name {
      font-size: 48px;
      font-weight: $bold;
      line-height: $line-height-header;
    }

    .product-description {
      line-height: $line-height-regular;
    }

    .toggle-product-list {
      width: 55px;
      height: 55px;
      display: inline-block;
      position: absolute;
      bottom: -25px;
      z-index: 2;

      background:
        linear-gradient($purple-dark, $purple-dark) top left,
        linear-gradient($purple-dark, $purple-dark) top right,
        linear-gradient($purple-dark, $purple-dark) bottom left,
        linear-gradient($purple-dark, $purple-dark) bottom right, white;
      /*thickness = 4px (2*2px) */
      background-size: calc(50% - 2px) calc(50% - 2px);
      background-repeat: no-repeat;
      /*length = 26px (50px - 2x12px) */
      border: 12px solid $purple-dark;
      border-radius: 50%;
      @include transition(null, ease-in-out);
    }

    &:hover {
      cursor: pointer;
    }

    &:hover .toggle-product-list {
      transform: scale(1.3);
      background-size: calc(50% - 2px) calc(50% - 2px);
      border: 11px solid $purple-dark;
      cursor: pointer;
    }

    .product-list-container {
      position: absolute;
      background-color: $black-med;
      width: 100%;
      left: 0;
      bottom: -350px;

      overflow: hidden;
      height: 0;
      opacity: 0;

      &#product-list-right {
        bottom: -400px;
      }

      &.visible {
        height: auto;
        opacity: 1;
        padding: 80px 93px 52px 80px;
        transition: height 0ms 0ms, opacity 300ms 0ms;
      }

      li {
        list-style-type: none;
        border-bottom: 1px solid $black;
        padding: 15px 0;
        font-weight: $bold;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }
}

.about {
  display: flex;
  margin-top: 180px;

  .about-content {
    display: flex;
    flex-direction: column;

    >p {
      flex-grow: 1;
    }

    >a {
      margin-top: 25px;
      align-self: flex-start;
    }
  }

  .about-images {
    display: flex;
    flex-wrap: wrap;
    min-width: 432px;
    margin-left: 80px;

    .about-image {
      position: relative;
      width: 216px;
      height: 216px;
      @include transition;

      &::before {
        content: url(assets/icons/search.svg);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        z-index: 999;
        @include transition;
        cursor: pointer;
      }

      &:hover::before {
        opacity: 1;
      }

      &::after {
        content: '';
        position: absolute;
        border-radius: 50%;
        box-shadow: none;
        display: block;
        top: -2px;
        left: -2px;
        width: 102%;
        height: 102%;
        @include transition;
      }

      &:hover::after {
        box-shadow: inset 0 0 0 18px $yellow;
        cursor: pointer;
      }

      img {
        @include transition;
      }

      &:hover img {
        filter: brightness(70%);
      }
    }
  }
}

.section-separator {
  height: 42px;
  margin: 80px auto;
  background-image: url(assets/wave.svg);
}

.features {
  display: flex;
  text-align: center;
  justify-content: space-between;
  /* TODO: gotta check gap property for browser support (no IE) */
  gap: 100px;
  font-size: $font-small;
  margin-bottom: 120px;

  .feature-heading {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .feature-icon {
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .feature {
    &:first-of-type .feature-icon {
      background-image: url(assets/icons/environment.svg);
    }

    &:nth-of-type(2) .feature-icon {
      background-image: url(assets/icons/quality.svg);
    }

    &:nth-of-type(3) .feature-icon {
      background-image: url(assets/icons/delivery.svg);
    }

    &:last-of-type .feature-icon {
      background-image: url(assets/icons/international.svg);
    }
  }
}

.projects-container {
  -webkit-clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 84%);
  clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 84%);
  background-color: $white;

  .projects {
    display: flex;

    .project-image-container {
      border-radius: 48% 0 0 48%;
      margin-right: -550px;
      overflow: hidden;
    }

    .projects-content {
      max-width: 500px;
      min-width: 500px;
      padding-top: 160px;
      padding-bottom: 204px;
      margin-right: 66px;

      .projects-slider {
        margin-top: 100px;
        max-width: 75%;

        .project-date {
          font-size: $font-small;
          color: $gray;
        }

        .project-heading {
          color: $purple-dark;
          font-size: 36px;
        }

        p {
          font-size: $font-small;
          margin-bottom: 20px;
        }

        .projects-nav {
          margin-left: 15px;

          .arrow {
            width: 11px;
            height: 18px;
            border: none;
            position: relative;
            top: 9px;

            &:hover {
              cursor: pointer;
            }
          }

          .arrow-left {
            background: url(assets/icons/left.svg);
            margin-right: 25px;
          }

          .arrow-right {
            background: url(assets/icons/right.svg);
            margin-left: 25px;
          }

          button.project-selector {
            position: relative;
            width: 22px;
            height: 22px;
            border: 1px solid $gray;
            border-radius: 50%;
            background: transparent;
            @include transition;

            &:nth-of-type(3) {
              margin: 0 22px;
            }

            &:hover {
              background-color: $purple-dark;
              cursor: pointer;
            }

            &::before {
              content: "";
              background: none;
              border: 1px solid $gray;
              border-radius: 50%;
              display: block;
              position: absolute;
              top: -14px;
              left: -14px;
              right: -14px;
              bottom: -14px;
              pointer-events: none;
            }

          }

        }
      }
    }
  }
}

.blog-posts-container {
  background-color: $black-med;
  margin-top: -204px;
  padding-top: 204px;

  .blog-posts-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 60px;

    .section-heading {
      margin-bottom: 0;
      color: $white;
    }
  }

  .blog-post-list {
    display: flex;
    justify-content: space-between;
    gap: 120px;
    padding-bottom: 120px;

    .post-image {
      width: 100%;
    }

    .post-heading {
      color: $white;
      margin-top: 20px;
      font-size: 24px;
    }

    p {
      color: $light-grey;
      margin: 10px auto 14px;
    }
  }
}

.footer-container {
  background-color: $black;
  padding: 80px 0 60px 0;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .logo {
      display: inline-block;
      line-height: 1.3;
      width: 212px;
    }

    .contact-info {
      color: $white;
      font-weight: $light;

      .phone {
        font-size: 42px;
        line-height: 1.3;
        font-feature-settings: 'lnum'1;

        span {
          color: $purple-dark;
        }
      }

      .address {
        text-align: right;
        margin-top: 10px;
        position: relative;

        &::before {
          content: url(assets/icons/address.svg);
          position: relative;
          top: 3px;
          right: 10px;

        }
      }
    }
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

    >ul {
      display: flex;
      list-style-type: none;

      >li {
        margin-right: 20px;
        text-transform: uppercase;
        font-size: $font-small;
        color: $purple-dark;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}