@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;700&display=swap');

$black: #1E1E1E;
$black-med: #272727;
$text-gray: #4D4D4D;
$white: #FFFFFF;
$purple-dark: #A637A3;
$purple-light:#C636C2;
$yellow: #FFFF00;
$light-grey: #DCDCDC;
$gray: #BEBEBE;

$sans-serif: 'Raleway',
sans-serif;
$light: 200;
$normal: 400;
$semibold: 500;
$bold: 700;

$line-height-header: 56px;
$line-height-regular: 26px;
$line-height-small: 22px;

$font-small: 14px;

body {
  font-family: $sans-serif;
  font-weight: $normal;
  color: $text-gray;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bold {
  font-weight: $bold;
}

h2 {
  font-weight: $normal;
  font-size: 72px;
  color: $black;
  margin-bottom: 20px;
}

p {
  line-height: $line-height-regular;
}

.main-col,
.section-separator {
  max-width: 1280px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* BUTTONs & LINKS */

.btn-text {
  display: inline;
  border-radius: 20px;
  padding: 12px 18px;
  text-decoration: none;
  color: $white;
  font-weight: $bold;
  font-size: $font-small;
  letter-spacing: 0.05em;
}

.btn-bg-pink {
  background-color: $purple-dark;
}

.btn-plus {}


.header-container {
  height: 849px;
  background: linear-gradient(180deg, rgba($black, 0.56) 0%, rgba($black, 0) 30.62%), linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(assets/images/hero-1.png) center / cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  position: relative;
  z-index: -1;

  .header-nav {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;

    .nav-items {
      display: flex;
      list-style-type: none;

      li {
        padding: 10px 15px;
        background-color: $white;
        margin-right: 5px;
        border-radius: 20px;
        text-transform: uppercase;
        font-weight: $semibold;

        white-space: nowrap;

        &:last-of-type {
          margin-right: 0;
          background-color: $black-med;
          color: $white;



          &::after {
            vertical-align: middle;
            content: url(assets/icons/down.svg);
            margin-left: 5px;
            display: inline-block;
            margin-top: -5px;

          }
        }
      }
    }
  }
}

.products {
  background-color: $black;
  display: flex;
  margin-top: -297px;

  .product {
    padding: 80px;
    color: $white;
    flex: 1;

    &:first-of-type {
      border-right: 2px solid $black-med;
    }

    .product-name {
      font-size: 48px;
      font-weight: $bold;
      line-height: $line-height-header;
    }

    .product-description {
      line-height: $line-height-regular;
    }

    .product-graphic {
      height: 150px;
      margin-bottom: 40px;
    }
  }
}

.about {
  display: flex;
  margin-top: 180px;

  .about-content {
    display: flex;
    flex-direction: column;

    >p {
      flex-grow: 1;
    }

    >a {
      margin-top: 25px;
      align-self: flex-start;
    }
  }

  .about-images {
    display: flex;
    flex-wrap: wrap;
    min-width: 432px;
    margin-left: 80px;

    .about-image {
      width: 216px;
      height: 216px;
    }
  }
}

.section-separator {
  height: 42px;
  margin: 80px auto;
  background-image: url(assets/wave.svg);
}

.features {
  display: flex;
  text-align: center;
  justify-content: space-between;
  /* TODO: gotta check gap property for browser support (no IE) */
  gap: 100px;
  font-size: $font-small;
  margin-bottom: 120px;

  .feature-heading {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .feature-icon {
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .feature {
    &:first-of-type .feature-icon {
      background-image: url(assets/icons/environment.svg);
    }

    &:nth-of-type(2) .feature-icon {
      background-image: url(assets/icons/quality.svg);
    }

    &:nth-of-type(3) .feature-icon {
      background-image: url(assets/icons/delivery.svg);
    }

    &:last-of-type .feature-icon {
      background-image: url(assets/icons/international.svg);
    }
  }
}

.projects-container {
  -webkit-clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 84%);
  clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 84%);
  background-color: $white;

  .projects {
    display: flex;

    .project-image-container {
      border-radius: 48% 0 0 48%;
      margin-right: -550px;
      overflow: hidden;
    }

    .projects-content {
      max-width: 500px;
      min-width: 500px;
      padding-top: 160px;
      padding-bottom: 204px;
      margin-right: 66px;

      .projects-slider {
        margin-top: 100px;
        max-width: 75%;

        .project-date {
          font-size: $font-small;
          color: $gray;
        }

        .project-heading {
          color: $purple-dark;
          font-size: 36px;
        }

        p {
          font-size: $font-small;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.blog-posts-container {
  background-color: $black-med;
  margin-top: -204px;
  padding-top: 204px;
}

.blog-posts-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 60px;

  .section-heading {
    margin-bottom: 0;
    color: $white;
  }
}

.blog-post-list {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  padding-bottom: 120px;

  .post-image {
    width: 100%;
  }

  .post-heading {
    color: $white;
    margin-top: 20px;
    font-size: 24px;
  }

  p {
    color: $light-grey;
    margin: 10px auto;
  }
}

.footer-container {
  background-color: $black;
  padding: 80px 0 60px 0;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .logo {
      display: inline-block;
      line-height: 1.3;
      width: 212px;
    }

    .contact-info {
      color: $white;
      font-weight: $light;

      .phone {
        font-size: 42px;
        line-height: 1.3;
        font-feature-settings: 'lnum'1;

        span {
          color: $purple-dark;
        }
      }

      .address {
        text-align: right;
        margin-top: 10px;
        position: relative;

        &::before {
          content: url(assets/icons/address.svg);
          position: relative;
          top: 3px;
          right: 10px;

        }
      }
    }
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

    >ul {
      display: flex;
      list-style-type: none;

      >li {
        margin-right: 20px;
        text-transform: uppercase;
        font-size: $font-small;
        color: $purple-dark;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}