@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;700&display=swap");
body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #4D4D4D;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bold {
  font-weight: 700;
}

h2 {
  font-weight: 400;
  font-size: 72px;
  color: #1E1E1E;
  margin-bottom: 20px;
}

p {
  line-height: 26px;
}

.main-col,
.section-separator {
  max-width: 1280px;
  margin: 0 auto;
}

.hidden {
  opacity: 0;
}

/* BUTTONs & LINKS */
.btn-text {
  display: inline;
  border-radius: 20px;
  padding: 12px 18px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.btn-no-bg {
  background-color: transparent;
  color: #A637A3;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.btn-no-bg:hover {
  color: #FFFFFF;
  background-color: #A637A3;
}

.btn-plus::before {
  content: "";
  display: inline-block;
  -webkit-mask: url(assets/icons/plus.svg) center center no-repeat;
          mask: url(assets/icons/plus.svg) center center no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: relative;
  background-color: #A637A3;
  top: 2px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.btn-plus:hover::before {
  background-color: #FFFFFF;
}

.btn-bg-pink {
  background-color: #A637A3;
}

.btn-bg-pink::before {
  background-color: #FFFFFF;
}

.header-container {
  height: 849px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 30, 30, 0.56)), color-stop(30.62%, rgba(30, 30, 30, 0))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45)));
  background: linear-gradient(180deg, rgba(30, 30, 30, 0.56) 0%, rgba(30, 30, 30, 0) 30.62%), linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  position: relative;
}

.header-container .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0;
  position: relative;
}

.header-container .header-nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header-container .header-nav .nav-items li {
  padding: 10px 15px;
  background-color: #FFFFFF;
  margin-right: 5px;
  border-radius: 20px;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header-container .header-nav .nav-items li:hover {
  background-color: #A637A3;
  cursor: pointer;
}

.header-container .header-nav .nav-items li:hover a {
  color: #FFFFFF;
}

.header-container .header-nav .nav-items li > a {
  color: #1E1E1E;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

.header-container .header-nav .nav-items #selected-lang {
  margin-right: 0;
  background-color: #272727;
  list-style-type: none;
  color: #FFFFFF;
}

.header-container .header-nav .nav-items #selected-lang::after {
  vertical-align: middle;
  content: url(assets/icons/down.svg);
  margin-left: 5px;
  display: inline-block;
  margin-top: -5px;
}

.header-container .header-nav .nav-items #selected-lang-menu {
  position: absolute;
  right: 0;
  top: 80px;
  background-color: #FFFFFF;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.header-container .header-nav .nav-items #selected-lang-menu > li {
  list-style-type: none;
  border-radius: 0;
  width: 100%;
}

.header-container .header-nav .nav-items #selected-lang-menu > li:hover {
  color: white;
}

.header-container .hero-carousel {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #1E1E1E;
}

.header-container .hero-carousel .hero-carousel-cell > img {
  width: 100vw;
}

.products {
  background-color: #1E1E1E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -297px;
  position: relative;
  z-index: 1;
}

.products .product {
  position: relative;
  padding: 80px;
  color: #FFFFFF;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.products .product .product-graphic {
  height: 150px;
  margin-bottom: 40px;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.products .product:first-of-type {
  border-right: 2px solid #272727;
}

.products .product:first-of-type .product-graphic {
  background: url(assets/images/isolated-pipes.svg) no-repeat;
}

.products .product:first-of-type:hover .product-graphic {
  background: url(assets/images/isolated-pipes-hover.svg) no-repeat;
}

.products .product:last-of-type .product-graphic {
  background: url(assets/images/plastic-pipes.svg) no-repeat;
}

.products .product:last-of-type:hover .product-graphic {
  background: url(assets/images/plastic-pipes-hover.svg) no-repeat;
}

.products .product .product-name {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.products .product .product-description {
  line-height: 26px;
}

.products .product .toggle-product-list {
  position: absolute;
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#A637A3), to(#A637A3)) top left, -webkit-gradient(linear, left top, left bottom, from(#A637A3), to(#A637A3)) top right, -webkit-gradient(linear, left top, left bottom, from(#A637A3), to(#A637A3)) bottom left, -webkit-gradient(linear, left top, left bottom, from(#A637A3), to(#A637A3)) bottom right, white;
  background: linear-gradient(#A637A3, #A637A3) top left, linear-gradient(#A637A3, #A637A3) top right, linear-gradient(#A637A3, #A637A3) bottom left, linear-gradient(#A637A3, #A637A3) bottom right, white;
  background-size: calc(50% - 2px) calc(50% - 2px);
  background-repeat: no-repeat;
  border: 12px solid #A637A3;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 55px;
  height: 55px;
  bottom: -25px;
  z-index: 2;
}

.products .product .toggle-product-list:hover {
  cursor: pointer;
}

.products .product:hover {
  cursor: pointer;
}

.products .product:hover .toggle-product-list {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  background-size: calc(50% - 2px) calc(50% - 2px);
  border: 11px solid #A637A3;
  cursor: pointer;
}

.products .product .product-list-container {
  position: absolute;
  background-color: #272727;
  width: 100%;
  left: 0;
  bottom: -350px;
  overflow: hidden;
  height: 0;
  opacity: 0;
}

.products .product .product-list-container#product-list-right {
  bottom: -400px;
}

.products .product .product-list-container.visible {
  height: auto;
  opacity: 1;
  padding: 80px 93px 52px 80px;
  -webkit-transition: height 0ms 0ms, opacity 300ms 0ms;
  transition: height 0ms 0ms, opacity 300ms 0ms;
}

.products .product .product-list-container li {
  list-style-type: none;
  border-bottom: 1px solid #1E1E1E;
  padding: 15px 0;
  font-weight: 700;
}

.products .product .product-list-container li:first-child {
  padding-top: 0;
}

.products .product .product-list-container li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 180px;
}

.about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .about-content > p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.about .about-content > a {
  margin-top: 25px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.about .about-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 432px;
  margin-left: 80px;
}

.about .about-images .about-image {
  position: relative;
  width: 216px;
  height: 216px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.about .about-images .about-image::before {
  content: url(assets/icons/search.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.about .about-images .about-image:hover::before {
  opacity: 1;
}

.about .about-images .about-image::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  top: -2px;
  left: -2px;
  width: 102%;
  height: 102%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.about .about-images .about-image:hover::after {
  -webkit-box-shadow: inset 0 0 0 18px #FFFF00;
          box-shadow: inset 0 0 0 18px #FFFF00;
  cursor: pointer;
}

.about .about-images .about-image img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.about .about-images .about-image:hover img {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.about .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  -webkit-transform: translateY(-1000em);
          transform: translateY(-1000em);
  height: 100vh;
  overflow-x: hidden;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .overlay::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(30, 30, 30, 0.8);
}

.about .overlay .about-carousel {
  position: relative;
  background-color: #1E1E1E;
  width: 70vw;
  height: 80vh;
  z-index: 101;
}

.about .overlay .about-carousel .carousel-cell {
  width: 100%;
  height: 100%;
}

.about .overlay .about-carousel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .overlay .about-carousel .flickity-prev-next-button {
  background-color: #C636C2;
  color: #FFFFFF;
}

.about .overlay .close-about-carousel {
  position: absolute;
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#A637A3), to(#A637A3)) top left, -webkit-gradient(linear, left top, left bottom, from(#A637A3), to(#A637A3)) top right, -webkit-gradient(linear, left top, left bottom, from(#A637A3), to(#A637A3)) bottom left, -webkit-gradient(linear, left top, left bottom, from(#A637A3), to(#A637A3)) bottom right, white;
  background: linear-gradient(#A637A3, #A637A3) top left, linear-gradient(#A637A3, #A637A3) top right, linear-gradient(#A637A3, #A637A3) bottom left, linear-gradient(#A637A3, #A637A3) bottom right, white;
  background-size: calc(50% - 2px) calc(50% - 2px);
  background-repeat: no-repeat;
  border: 9px solid #A637A3;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  top: 30px;
  right: 30px;
  padding: 15px;
  width: 45px;
  height: 45px;
  z-index: 2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.about .overlay .close-about-carousel:hover {
  cursor: pointer;
}

.about .overlay .close-about-carousel:hover {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.about .show-overlay {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: width .3s ease-in;
  transition: width .3s ease-in;
}

.section-separator {
  height: 42px;
  margin: 80px auto;
  background-image: url(assets/wave.svg);
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* TODO: gotta check gap property for browser support (no IE) */
  gap: 100px;
  font-size: 14px;
  margin-bottom: 120px;
}

.features .feature-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.features .feature-icon {
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
}

.features .feature:first-of-type .feature-icon {
  background-image: url(assets/icons/environment.svg);
}

.features .feature:nth-of-type(2) .feature-icon {
  background-image: url(assets/icons/quality.svg);
}

.features .feature:nth-of-type(3) .feature-icon {
  background-image: url(assets/icons/delivery.svg);
}

.features .feature:last-of-type .feature-icon {
  background-image: url(assets/icons/international.svg);
}

.projects-container {
  -webkit-clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 84%);
  clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 84%);
  background-color: #FFFFFF;
}

.projects-container .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-container .projects .project-image-container {
  border-radius: 48% 0 0 48%;
  margin-right: -550px;
  overflow: hidden;
}

.projects-container .projects .projects-content {
  max-width: 500px;
  min-width: 500px;
  padding-top: 160px;
  padding-bottom: 204px;
  margin-right: 66px;
}

.projects-container .projects .projects-content .projects-slider {
  margin-top: 100px;
  max-width: 75%;
}

.projects-container .projects .projects-content .projects-slider .project-date {
  font-size: 14px;
  color: #BEBEBE;
}

.projects-container .projects .projects-content .projects-slider .project-heading {
  color: #A637A3;
  font-size: 36px;
}

.projects-container .projects .projects-content .projects-slider p {
  font-size: 14px;
  margin-bottom: 20px;
}

.projects-container .projects .projects-content .projects-slider .projects-nav {
  margin-left: 15px;
}

.projects-container .projects .projects-content .projects-slider .projects-nav .arrow {
  width: 11px;
  height: 18px;
  border: none;
  position: relative;
  top: 9px;
}

.projects-container .projects .projects-content .projects-slider .projects-nav .arrow:hover {
  cursor: pointer;
}

.projects-container .projects .projects-content .projects-slider .projects-nav .arrow-left {
  background: url(assets/icons/left.svg);
  margin-right: 25px;
}

.projects-container .projects .projects-content .projects-slider .projects-nav .arrow-right {
  background: url(assets/icons/right.svg);
  margin-left: 25px;
}

.projects-container .projects .projects-content .projects-slider .projects-nav button.project-selector {
  position: relative;
  width: 22px;
  height: 22px;
  border: 1px solid #BEBEBE;
  border-radius: 50%;
  background: transparent;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.projects-container .projects .projects-content .projects-slider .projects-nav button.project-selector:nth-of-type(3) {
  margin: 0 22px;
}

.projects-container .projects .projects-content .projects-slider .projects-nav button.project-selector:hover {
  background-color: #A637A3;
  cursor: pointer;
}

.projects-container .projects .projects-content .projects-slider .projects-nav button.project-selector::before {
  content: "";
  background: none;
  border: 1px solid #BEBEBE;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -14px;
  left: -14px;
  right: -14px;
  bottom: -14px;
  pointer-events: none;
}

.blog-posts-container {
  background-color: #272727;
  margin-top: -204px;
  padding-top: 204px;
}

.blog-posts-container .blog-posts-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  margin-bottom: 60px;
}

.blog-posts-container .blog-posts-header-container .section-heading {
  margin-bottom: 0;
  color: #FFFFFF;
}

.blog-posts-container .blog-post-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 120px;
  padding-bottom: 120px;
}

.blog-posts-container .blog-post-list .post-image {
  width: 100%;
}

.blog-posts-container .blog-post-list .post-heading {
  color: #FFFFFF;
  margin-top: 20px;
  font-size: 24px;
}

.blog-posts-container .blog-post-list p {
  color: #DCDCDC;
  margin: 10px auto 14px;
}

.footer-container {
  background-color: #1E1E1E;
  padding: 80px 0 60px 0;
}

.footer-container .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-container .footer-content .logo {
  display: inline-block;
  line-height: 1.3;
  width: 212px;
}

.footer-container .footer-content .contact-info {
  color: #FFFFFF;
  font-weight: 200;
}

.footer-container .footer-content .contact-info .phone {
  font-size: 42px;
  line-height: 1.3;
  -webkit-font-feature-settings: "lnum" 1;
          font-feature-settings: "lnum" 1;
}

.footer-container .footer-content .contact-info .phone span {
  color: #A637A3;
}

.footer-container .footer-content .contact-info .address {
  text-align: right;
  margin-top: 10px;
  position: relative;
}

.footer-container .footer-content .contact-info .address::before {
  content: url(assets/icons/address.svg);
  position: relative;
  top: 3px;
  right: 10px;
}

.footer-container .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

.footer-container .footer-nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.footer-container .footer-nav > ul > li {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 14px;
  color: #A637A3;
}

.footer-container .footer-nav > ul > li:last-of-type {
  margin-right: 0;
}
/*# sourceMappingURL=styles.css.map */